.ant-spin-nested-loading .ant-spin-blur::after {
	opacity: 0;
}

.ant-upload-wrapper .ant-upload-list .ant-upload-list-item-error,
.ant-upload-wrapper
	.ant-upload-list
	.ant-upload-list-item-error
	.ant-upload-icon
	.anticon,
.ant-upload-wrapper
	.ant-upload-list
	.ant-upload-list-item-error
	.ant-upload-list-item-name,
.ant-upload-wrapper
	.ant-upload-list
	.ant-upload-list-item-error
	.ant-upload-list-item-actions
	.anticon {
	color: gray !important;
}

.ant-select-item.ant-select-item-option {
	padding: 10px 12px;
}

.ant-tabs .ant-tabs-tab-remove {
	margin-left: 0;
}
